.profile__container{
    background-color: #f4f3f3;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile__header{
    display: flex;
    flex-direction: row;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.profile__avtar{
    width: 80px !important;
    height: 80px !important;
    margin-right: 2rem;
}

.profile__posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(221, 221, 221);
}

.profile__image{
    width: 350px;
    height: 400px;
    object-fit: cover;
    padding: 10px;
}

.profile__details h2{
    font-family: 'Oleo Script Swash Caps', cursive;
}

@media (max-width: 690px) {
    
    .profile__image{
        width: 175px;
        height: 200px;
        object-fit: cover;
    }
}