.profile__container{
    background-color: #f4f3f3;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile__header{
    display: flex;
    flex-direction: row;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.profile__avtar{
    width: 80px !important;
    height: 80px !important;
    margin-right: 2rem;
}

.profile__posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(221, 221, 221);
    padding: 0 3rem ;
}
.profile__obj{
    cursor: pointer;
    margin: 10px;
    background-color: black;    
    width: 350px;
    height: 400px;
}


.profile__image{
    width: 350px;
    height: 400px;
    object-fit: cover;
    opacity: 1;
    transition: .2s ease-in;
    /* padding: 10px; */
}

.profile__image:hover{
    opacity: 0.7;
}

.profile__details h2{
    font-family: 'Oleo Script Swash Caps', cursive;
}

@media (max-width: 900px){
    .profile__posts{
        padding: 0 2rem;
    }
    .profile__image{
        width: 233px;
        height: 266px;
        object-fit: cover;
    }
}

@media (max-width: 840px) {

    .profile__posts{
        padding: 0 0.2rem;
    }
    
    .profile__image{
        width: 175px;
        height: 200px;
        object-fit: cover;
    }
}