nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid lightgrey;
    width: 100vw;
    background-color: #fafafa;
}

nav img {
    object-fit: contain;
}

a{
    text-decoration: none;
    color: #1b1919;
}
 
footer{
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
}

footer a{
    text-decoration: underline;
}

.tooltip{
    padding: 10px;
}

.app__btn{
    border:0;
    padding: 0.8rem;
    font: inherit;
    margin-right: 1rem;
    background-color: transparent;
    border-radius: 5px;
    transition: .3s ;
}

.app__btn:hover{
    background-color: #3d84b8;
    color: #f4f9f9 !important;
}

.btn_bgRed:hover{
    color: #f4f9f9 !important;
    background-color: #fb3640;
}

.bg_blue:hover{
    background-color: #3172a0 !important;
    color:#f4f9f9;
}

.app_modal{
    display: flex;
    flex-direction: row;
    height:500px;
    width:700px;
}
.app__modalRight{
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faf3f3;
}

.app__modalRight h1{
    color: #21094e;
    margin: 1rem 0;
}


.app_loginimg{
    width: 350px;
    transform: translateX(3rem);
    animation: loginAnim .3s;
}
@keyframes loginAnim {
    from{
        transform: translateX(-3rem);
    }
    to{
        transform: translateX(3rem);
    }
}

.app_signupimg{
    width: 250px;
    justify-content: center;
    align-items: center;
    transform: translateX(3rem);
    animation: signinAnim .3s;
}
@keyframes signinAnim {
    from{
        transform: translateX(-3rem);
    }
    to{
        transform: translateX(3rem);
    }
}

.app__modalLeft{
    display: flex;
    width: 350px;
    background-color: #faf3f3;
}

.app__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    animation: formAnim .3s;
    transform: translateX(0rem);
}

@keyframes formAnim {
    from{
        transform: translateX(3rem);
    }
    to{
        transform: translateX(0rem);
    }
}

.app__form label{
    display: block;
    font-size: 1rem;
    padding: 2px;
    color: #21094e;
}

.app__form input{
    margin: 0.2rem 0;
    padding: 0.8rem 0.2rem;
    font-size: 15px;
    border: 2px solid rgb(0, 191, 166);
    border-radius: 7px;
}

.app__form input:focus{
    outline: none;
}

.app__form button{
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 7px;
    border: 0;
    padding: .4rem 0;
    background-color: #4c4888;
    transition: .3s ease-out;
    color: #fdfaf6;
}

.app__form button:hover{
    background-color: #3f3d56;
}

.app__navLink{
    display: flex;
}

.app__mobileMenu{
    display: flex;
    flex-direction: column;
    background-color: #faf3f3;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 16rem;
    width: 18rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
}

.app__mobileMenu button, .app__mobileMenu a{
    width: 100%;
    border-radius: 0;
    margin: 0.5rem 0;
    font-size: 1.1rem;
    padding: 0.6rem;
}

.app__navHam{
    border: 0;
    background-color: inherit;
    font-size: 1.4rem;
}

.border-top{
    border-top: 1px solid black;
}

.posts__container{
    background-color: #f4f3f3;
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}

.post{
    width: 650px;
    background-color: #fafafa;
    border: 1px solid lightgrey;
    margin: 1rem 0;
    border-radius: 5px;
}

.post__header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post__header p{
    margin-left: 10px;
}

.post__img{
    width: 100%;
    max-height: 1000px;
    object-fit: cover;
}

.post__caption{
    padding: 10px;
}

.post__comments{
    padding: 10px;
}

.post__comments strong{
    margin-right : 10px;
}

.post__seeCmnts{
    color: rgb(163, 163, 163);
}

.upload__container{
    padding: 20px;
    display: flex;
    flex-direction: column; 
    background-color: #fafafa;
    position: absolute;
    border-radius: 10px;
}

.upload__form{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    position: relative;
}

.upload__captionLabel{
    display: block;
    margin: 2rem 0.1rem .7rem;
}

.upload__container h2{
    font-size: 1.4rem;
}

.upload__container button{
    border: 0;
}

.upload__imageLabel{
    padding: 0.7rem;
    cursor: pointer;
    border: 2px solid #76b39d;
    position: absolute;
    width: 100%;
}

.upload__form i{
    color: #30e3ca;
    position: absolute;
    right: 1rem;
    top: 10px;
    font-size: 1.8rem;
    animation: iPopin .5s;
}

@keyframes iPopin {
    from{
        opacity: 0;
        right: -3rem;
    }
    to{
        opacity: 1;
        right: 1rem;
    }
}

input[type='file']{
    opacity: 0;
}

.upload__textarea{
    height: 250px;
    resize: none;
    padding: 0.5rem;
    font: inherit;
    border: 1px solid lightgrey;
}

.upload__textarea:focus{
    outline: none;
    border: 1px solid grey;
}

.upload__progress{
}

.detail__container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: 'Average Sans', sans-serif;
    font-size: 18px;
    margin-top: 1rem;
}

.detail__header{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    width: 70vw;
}

.detail__header strong{
    margin-left: .7rem;
}

.detail__image{
    width: 70vw;
}

.detail__captionContainer{
    padding: 2rem 0;
    width: 70vw;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.detail__captionContainer strong{
    font-size: 1.4rem;
    margin-right: 1rem;
}

.detail__commentContainer{
    width: 70vw;
}
.detail__commentContainer div {
    display: flex;
    align-items: center;
}

.detail__commentContainer div span{
    padding: 1rem 10px;
}

.detail__commentContainer div span strong{
    margin-right: .6rem;
}

.detail__commentInput{
    margin-top: 1rem;
}
@media (max-width: 900px){

    
}

@media (max-width: 690px) {

    .post{
        width: 400px;
    }
    
    .app_modal{
        width: 350px;
    }

    .app__modalLeft{
        display: none;
    }

    .detail__container{
        font-size: 16px;
    }

    .detail__header{
        margin-top: 2rem;
        width: 98vw;
    }

    .detail__captionContainer{
        padding: 1rem 0;
        width: 90vw;
    }
    .detail__image{
        width: 98vw;
    }
    .detail__commentContainer{
        width: 90vw;
    }

    .detail__captionContainer strong{
        font-size: 1rem;
    }
}

