@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');

*{
  box-sizing: border-box;
  margin:0;
}

body{
  font-family: 'Sarabun',sans-serif;
  min-height: 100vh;
  font-size: 14px;
  overflow-x: hidden;
}

button{
  cursor: pointer;
}
