@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

*{
  box-sizing: border-box;
  margin:0;
}

body{
  font-family: 'Sarabun',sans-serif;
  min-height: 100vh;
  font-size: 14px;
}

button{
  cursor: pointer;
}
